

<div class="events-wrapper">

</br></br>
	<%  if @upcoming_created_events.any? %>
	<h1 class="text-left">Upcoming Events Created by User.</h1>
  		<div class="card card-body">
				<% @upcoming_created_events.each do |event| %>

					<div class="row" id="event-row">
						<p class="event-title"><%= link_to event.description, event %></p> 
						<p>Date: <%= event.event_date.strftime("%d/%m/%y") %></p>
						<hr>
					</div>
				<% end %>
			
		</div>	
		
	<% end %>

	<%  if @past_created_events.any? %>
	<h1 class="text-left">Past Events Created by User.</h1>
  		<div class="card card-body">
				<% @past_created_events.each do |event| %>

					<div class="row" id="event-row">
						<p class="event-title"><%= link_to event.description, event %></p> 
						<p>Date: <%= event.event_date.strftime("%d/%m/%y") %></p>
						<hr>
					</div>
				<% end %>
			
		</div>	
		
	<% end %>

	
		
</div>


