<%= form_for(@event_theioreb) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
	<div class="container add-attendee">		
		<div class="row">
			<div class="col">
			<p>Add your name to attendees.</p>
			</div>
		</div>

		<div class="row ">

			<div class=" col col-md-1 check_box">
				<%= f.check_box :attendees %>
			</div>

			<div class="col col-lg-6 button">	
				<%= f.submit "Attend this event", class: "btn btn-primary" %>
			</div>
		</div>
</div>			
			
	<% end %>		