<%= form_for(@event) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
	<div class="container add-attendee">		
		<div class="row"></br>
			<div class="col-lg-3">
			<p>Add your name to attendees.</p>
			</div>
		

		

			<div class=" col col-lg-1 check_box">
				<%= f.check_box :event_attendees %>
			</div>

			<div class="col col-lg-6 button">	
				<%= f.submit "Attend this event", class: "btn btn-primary" %>
			</div>
		</div>
</div>			
			
	<% end %>		