
<div class = "row event-body"> 
      <div class="col col-md-3">
            
            Created By : <%= event.user.name %>
	</div>
     
      <div class="col col-md-6">          
            Description : <%= event.description %>           
      </div>

      <div class="col col-md-3">
            Date and Time: <%= event.event_date %>           
	</div>
</div>
