<% if @events.any? %>
	<div class="row events-header">
		Upcoming Events
	</div>	
	<div class="row paginate">
		<%= will_paginate @upcoming_events, :next_label => '&rArr;', :previous_label => '&lArr;' %>
	</div>
    
	<div>	
	
		<% @upcoming_events.each do |event| %>
			<div class="row event-row">
			<p class= "event-creator">Created By : <%= event.user.name %> </p>
            <p class= "event-description">Description :<%= link_to event.description, event %> </p>
			<p class= "event-date">Date & Time :	<%= event.event_date %></p>
			</div>
		<% end %>	
			
	</div>	
	

<% end %>

	